/* Add your own styles */

/*overall page*/
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccccff;
}

/*header*/
header {
    background-color: #483D8B;
    padding: 40px 0;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
}

/*main*/
main {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

/*controls*/
#controls {
    margin-bottom: 25px;
}

#controls label {
    display: none; 
}

/*search bar */
#country {
    width: 60%;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #15006b;
    border-radius: 8px;
    margin-bottom: 10px;
    outline: none;
}

#country:focus {
    border-color: #a586ff;
    box-shadow: 0 0 4px rgba(76, 125, 254, 0.5);
}

/*buttons*/
#lookup, 
#lookup-cities {
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

#lookup {
    background-color: #6272ff;
}

#lookup:hover {
    background-color: #97a1ff;
}

#lookup-cities {
    background-color: #1159ce;
}

#lookup-cities:hover {
    background-color: #7195cd;
}

/*table with results*/
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/*header for table*/
table th {
    background-color: #f5f7fa;
    padding: 14px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #5c6063;
    border-bottom: 1px solid #5c6063;
}

/*individual table cells*/
table td {
    padding: 10px;
    border: 1px solid #d3d8de;
    text-align: center;
    border-bottom: 1px solid #ecf0f4;
    font-size: 15px;
}

table tr:hover {
    background-color: #f0f5fa;
}
